*{
    margin: 0;
    padding: 0;
}
 header{
   min-height: 143px;   
   text-align: center;
   color: white;
}  
p{
    font-size: 10px;
    line-height: 18px;
}
article{
    padding: 23px;
    font-size: 24px;
    background: #3598fb;
}
.container>div{
    background: #3598fb;
    padding: 12px;
    margin: 9px;
    width: 22em;
    border-radius: 5px;
    height: 102px;
    display: flex;
    align-items: flex-end;
    float: left;
}
.container{
    margin: 0px auto;
    max-width: 800px;
}
@media screen and(min-width:300px)and(max-width:400px){
    .container{
    margin: 0px auto;
    max-width: 400px;
}
} 