*{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    color: white;
}    
article{
    background-color: #3598fb;
    min-height: 40px;
    padding: 40px;
    font-size: 30px;
}
.container>div{
    background-color: #3598fb;
    padding: 21px;
    margin: 9px auto;
    width: 306px;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    height: 67px;
}
article>p{
line-height: 2.5;
font-size: 11px;
}


